@using IS220_CK_2021_2022.Models;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        @*var Playlist = function () {
            nn = $('select').find('option:selected').val()
            if (nn == undefined || nn == "")
                return
            $.ajax({
                cache: false,
                url: '/Playlist/Playlist',
                type: 'POST',
                data: { nn: nn }
            })
        }*@

        $('*').on('change', 'select', function () {
            $('form').submit()
        })
    })
</script>

<label for="MaNN">Tên người nghe</label>
<form action="/Playlist/Playlist">
    <select name="MaNN" id="MaNN">
        <option value="#"></option>

        @{ if (ViewBag.lnn != null)
                foreach (NguoiNghe nn in ViewBag.lnn)
                {
                    <option value="@nn.MaNN">@nn.TenNN</option>
                }
        }
    </select>
</form>

<table border="1">
    <tr>
        <th>STT</th>
        <th>Tên playlist</th>
        <th>Chức năng</th>
    </tr>
    @{
        if (ViewBag.pl != null)
        {
            int i = 0;
            foreach (Playlist l in ViewBag.pl)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td><a href="/Playlist/BaiHat?pl=@l.MaPlayList">@l.TenPlayList</a></td>
                    <td><a href="/Playlist/Xoa?pl=@l.MaPlayList">Xóa</a></td>
                </tr>
            }

        }
    }
</table>